openapi: 3.1.0
info:
  title: NV0 Veridion Cleanroom API
  version: '0.1.0'
servers:
  - url: https://nv0.kr
  - url: http://127.0.0.1:3210
paths:
  /healthz:
    get:
      summary: Process health check
      responses:
        '200': { description: OK }
  /readyz:
    get:
      summary: Runtime readiness check
      responses:
        '200': { description: Ready }
        '503': { description: Not ready }
  /api/public/config:
    get:
      summary: Public runtime config
      responses:
        '200': { description: OK }
  /api/public/scan:
    post:
      summary: Submit Veridion scan
      requestBody:
        required: true
      responses:
        '200': { description: Scan result }
        '400': { description: Validation failed }
        '429': { description: Rate limited }
  /api/admin/session:
    get:
      summary: Read admin session state
      responses:
        '200': { description: OK }
    post:
      summary: Create admin session
      responses:
        '200': { description: Authenticated }
        '401': { description: Invalid key }
  /api/admin/logout:
    post:
      summary: Destroy admin session
      responses:
        '200': { description: Logged out }
  /api/admin/status:
    get:
      summary: Read admin status dashboard
      responses:
        '200': { description: OK }
  /api/admin/diagnostics:
    get:
      summary: Read diagnostics
      responses:
        '200': { description: OK }
  /api/admin/audit-logs:
    get:
      summary: Read audit logs
      responses:
        '200': { description: OK }
  /api/admin/settings:
    get:
      summary: Read settings
      responses:
        '200': { description: OK }
    post:
      summary: Update settings
      responses:
        '200': { description: Updated }
        '403': { description: CSRF blocked }
  /api/admin/orders:
    get:
      summary: List orders
      responses:
        '200': { description: OK }
  /api/admin/orders/status:
    post:
      summary: Update order payment state
      responses:
        '200': { description: Updated }
  /api/admin/orders/advance:
    post:
      summary: Advance order stage
      responses:
        '200': { description: Updated }
  /api/admin/publications/publish-now:
    post:
      summary: Publish immediately
      responses:
        '200': { description: Published }
  /api/admin/publications/seed:
    post:
      summary: Seed publication
      responses:
        '200': { description: Seeded }
  /api/admin/library:
    get:
      summary: List library items
      responses:
        '200': { description: OK }
  /api/admin/library/post:
    post:
      summary: Create library post
      responses:
        '200': { description: Created }
  /api/admin/library/upload:
    post:
      summary: Upload file
      responses:
        '200': { description: Uploaded }
  /api/admin/ops-report:
    get:
      summary: Read operations report
      responses:
        '200': { description: OK }
  /api/admin/ops-report/run:
    post:
      summary: Persist operations report snapshot
      responses:
        '200': { description: Created }
  /api/admin/maintenance/prune:
    post:
      summary: Prune runtime artifacts
      responses:
        '200': { description: Pruned }
  /api/admin/backups:
    get:
      summary: List backups
      responses:
        '200': { description: OK }
  /api/admin/backups/run:
    post:
      summary: Create backup snapshot
      responses:
        '200': { description: Created }
  /api/admin/backups/restore:
    post:
      summary: Restore backup snapshot
      responses:
        '200': { description: Restored }
